
__pycache__/
.claude/
.idea/
.import_linter_cache/
.ipynb_checkpoints/
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/

/server.state
/tmp/

/assets/
/dictionaries/

dist/
/build/
*.py[cod]
*.egg-info/

node_modules/
frontend/openapi.json
htmlcov/

*.pyc
*.pyo
*.coverage
*.coverage.*

*.ipynb
*.lock
!uv.lock

*.json
*.log
